PORT=3011
DATABASE_URL="postgresql://postgres:[TU-PASSWORD]@db.[PROJECT-REF].supabase.co:5432/postgres"
JWT_SECRET="fim-colectivo-super-secret-jwt-key-2026-prod"
JWT_REFRESH_SECRET="fim-colectivo-refresh-secret-2026-prod"
CLIENT_URL="https://colectivo.fimchile.cl"
ADMIN_URL="https://colectivo.fimchile.cl/admin"
UPLOAD_DIR="./uploads"
MP_ACCESS_TOKEN=""
